

.hero-img {
    width: 65%; /* Reduced the width a bit */
    height: auto;
    max-width: 500px; /* Slightly smaller maximum width */
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

@media (max-width: 1024px) {
    .hero-img {
        max-width: 450px; /* Reduced for tablet-sized screens */
    }
}

@media (max-width: 768px) {
    .hero-img {
        max-width: 400px; 
        margin-left: 125px;
    }
}

@media (max-width: 480px) {
    .hero-img {
        max-width: 350px;
        margin-left: 52px;

    }
}
